body {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.sidebar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #f1f1f1;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
