.project-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.project-list li button {
  width: 100%;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-actions {
  display: flex;
  gap: 0.25rem;
}
